table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightblue;
}

#formdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #formdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #formdiv label {
        font-weight: bolder;
    }
    
#updateSeasonformdiv {
    border: outset;
    border-color: forestgreen;
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updateSeasonformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updateSeasonformdiv label {
        font-weight: bolder;
    }

#updateSponsorformdiv {
    border: outset;
    border-color: forestgreen;
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updateSponsorformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updateSponsorformdiv label {
        font-weight: bolder;
    }

#updateTeamformdiv {
    border: outset;
    border-color: forestgreen;
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updateTeamformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updateTeamformdiv label {
        font-weight: bolder;
    }

table button {
    padding: 2px;
}
